<div class="container mt-4">
  <h1>Términos y condiciones</h1>
  <p>
    1. En la máxima medida permitida por la ley aplicable, en ningún caso
    el desarrollador de la página web será responsable por daños indirectos,
    punitivos, incidentales, especiales, consecuentes o ejemplares,
    incluidos, entre otros, daños por pérdida de beneficios, buena voluntad,
    uso, datos. u otras pérdidas intangibles, que surjan de o estén
    relacionadas con el uso o la imposibilidad de utilizar el servicio. En
    la máxima medida permitida por la ley aplicable, el desarrollador de la página
    web no asume responsabilidad alguna por (i) errores, errores o
    inexactitudes de contenido; (ii) lesiones personales o daños a la
    propiedad, de cualquier naturaleza que sean, como resultado de tu acceso
    o uso de nuestro servicio; y (iii) cualquier acceso no autorizado o uso
    de tus servidores y / o toda la información personal
    almacenada en los mismos.
  </p>

  <p>
    2. Usted no puede declarar propiedad intelectual o exclusiva a ninguno
    de nuestros productos, modificado o sin modificar. Todos los productos
    son propiedad de los proveedores del contenido. En caso de que no se
    especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de
    garantía, expresa o implícita.
  </p>

  <p>
    3. Usted es el único responsable de garantizar
    el correcto acceso a su servidor y a su información.
    No haga pública su REST API ni esta web
    para no exponer datos sensibles en internet.
  </p>

  <p>
    4. Usted es responsable de no incumplir la propiedad intelectual
    al incluir contenido de terceros en su servidor y mostrarlo a través de esta web.
  </p>

  <p>
    5.  Al acceder o usar la página web de nuestro servicio,
    usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos.
  </p>

  <p>6. No tenemos acceso a sus datos. Su información se mantiene en su servidor local. </p>

  <p>
    Estos términos y condiciones sólo aplican a usted
    como usuario del software que le prestamos.
    Si hace esta web pública, se hace responsable de la gestión de la política de privacidad,
    de sus términos y condiciones y de editar esta página para cumplir con la
    legislación local en materia de protección de datos, o demás obligaciones.
  </p>

  <p>
    El software que está usando tiene la licencia <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1">[CC BY-NC-ND 4.0]</a>

  </p>
</div>
