<div class="p-3">
  <form #form="ngForm">
    <label>ImageId:</label>
    <input type="text"
           id="imageId"
           name="imageId"
           [(ngModel)]="imageId"
           required
           class="form-control" />
    <app-chip [formControl]="chipsControl">
    </app-chip>

    <button type="button"
            class=" btn btn-light"
            [disabled]="!form.valid"
            (click)="submit()">
      Enviar
    </button>
    <button type="button"
            class="btn btn-light"
            (click)="cancel()">
      Cancelar
    </button>
  </form>
</div>
