<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <img src="assets/homepic.jpg" width="100%" />
    </div>

    <div class="col-5 text-white">

      <h2 class="display-6 p-4" >
        Ten el control total de tus imágenes.
        Almacénalas en un servidor privado y accede a ellas cuando quieras.
      </h2>

      <h3 class="p-4">Asigna tags a tus imágenes y organiza  tus recuerdos.</h3>
      <div class="p-4 d-flex justify-content-center"><button class="btn btn-secondary">Empieza a subir imágenes</button></div>
      

    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="p-5 text-white">Asigna tags descriptivos a tus imágenes para luego encontrarlas fácilmente. Todas tus fotos con tu amigo Manuel estarán al alcance de un click. </h2>
    </div>
    <div class="col-5"><img src="assets/imagenAmigos.jpg" width="100%" /></div>
  </div>


</div>
